
@import url('base.css');
header{
	width: 100%;
	height: 40px;
	background: #333333;
}
main{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
}
.head-left{
	width: 614px;
	height: 100%;
	float: left;
}
.head-left li{
	float: left;
}
.head-left li a{
	font-size: 12px;
	line-height: 40px;
	color: #b0b0b0;
	padding-left:8px;
	padding-right: 9px;
	border-right: 1px solid #424242;
}
.head-left li a:hover{
	color: #ffffff;
}
.head-left .first{
	padding-left: 0;
}
.head-left .last{
	border-right: none;
}
.head-right{
	width: 279px;
	height: 100%;
	float: right;
}
.login{
	width: 159px;
	line-height: 40px;
}
.login li{
	float: left;
}
.login li a{
	font-size: 12px;
	color: #b0b0b0;
	border-right: 1px solid #424242;
}
.login li a:hover{
	color: #ffffff;
}
.login .yi{
	padding-right: 7px;
}
.login .er{
	padding-left: 7px;
	padding-right: 7px;
}
.login .san{
	border-right: 0;
	padding-left: 8px;
	padding-right: 25px;
}
.icon-gouwuche{
	color: #b0b0b0;
	float: left;
	margin-left: 16px;
}
.che{
	width: 120px;
	height: 100%;
	background: #424242;
	float: right;
	text-align: center;
	line-height: 40px;
	position: relative;
}
.che .hezi{
	width: 300px;
	height: 100px;
	background: #fff;
	display: none;
	position: absolute;
	top: 40px;
	left: -179px;
	font-size: 14px;
	color: #000;
	text-align: center;
	line-height: 100px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
	z-index: 200;
}
.che:hover{
	background: #ffffff;
}
.che:hover .icon-gouwuche{
	color: #ff6700;
}
.che:hover .car{
	color: #ff6700;
}
.car{
	font-size: 12px;
	color: #b0b0b0;
}

.nav1{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
.nav1 .daohang{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.nav1 a{
	float: left;
	margin-top: 22px;
}
nav{
	width: 634px;
	height: 100%;
	float: left;
	margin-left: 189px;
}
nav li{
	float: left;
}
.nav1 .item1{
	width: 100%;
	height: 80px;
	background: #fff;
	position: absolute;
	bottom: -70px;
	left: 0;
	display: none;
	box-sizing: border-box;
	border-top: 1px solid #555;
	z-index: 800;
}
.nav1 nav  a{
	font-size: 16px;
	color: #333333;
	margin-top: 0;
	padding-right: 20px;
	line-height: 100px;
}
.nav1 nav a:hover{
	color: #ff6700;
}
nav li .last{
	padding-right: 0;
}
.nav-right{
	width: 294px;
	height: 48px;
	float: right;
	border: 1px solid #e0e0e0;
	margin-top: 25px;
	/* line-height: 100px; */
}
.nav-right .zuo{
	width: 53px;
	height: 18px;
	margin-left: 93px;
	margin-top: 15px;
	background: #eeeeee;
	font-size: 12px;
	color: #87759a;
	text-align: center;
	line-height: 18px;
}
.nav-right .zuo:hover{
	background: #ff6700;
	color: #ffffff;
}
.nav-right .you{
	width: 82px;
	height: 18px;
	margin-left: 5px;
	margin-top: 15px;
	background: #eeeeee;
	font-size: 12px;
	color: #87759a;
	text-align: center;
	line-height: 18px;
}
.nav-right .you:hover{
	background: #ff6700;
	color: #ffffff;
}
.nav-right span{
	font-size: 12px;
	
}
.nav-right .search{
	width: 50px;
	height: 48px;
	float: right;
	margin-top: 0;
	border-left: 1px solid #e0e0e0;
	text-align: center;
	line-height: 48px;
}
.icon-sousuo{
	color: #616161;
}
.nav-right .search:hover{
	background: #ff6700;
}
.nav-right .search:hover .icon-sousuo{
	color: #ffffff;
}
.banner{
	width: 1226px;
	height: 460px;
	background: #23262f;
	margin: 0 auto;
	border-left: 1px solid #666666;
	position: relative;
	overflow: hidden;
}
.img-list li{
	width: 1226px;
	height: 460px;
	position: absolute;
	display: none;
}
.img-list li:first-child{
	display: block;
}
.img1{
	display: block;
	width: 100%;
	height: 100%;
}
.bigbox{
	width: 234px;
	height: 460px;
	position: absolute;
	background: rgba(15, 16, 20,0.5);
}
.aside{
	width: 234px;
	height: 420px;
	float: left;
	margin-top: 20px;
	position: relative;
}
.aside li{
	width: 234px;
	height: 42px;
	display: block;
	line-height: 42px;

}
.aside li:hover{
	background: #ff6700;

}
.aside li .item{
	width: 800px;
	height: 460px;
	background: #999;
	position: absolute;
	left: 234px;
	top: -20px;
	display: none;
}
.aside .wenzi{
    font-size: 12px;
    color: #ffffff;
    margin-left: 30px;
}
.aside .icon-you{
	font-size: 12px;
    color: #a19178;
    float: right;
    margin-right: 23px;

}
.banner .zuo1{
	width: 35px;
	height: 60px;
	position: absolute;
	background: #525050;
	top: 200px;
	left:234px;
	background: rgba(255, 255, 255,0);
	text-align: center;
	line-height: 60px;
}
.banner .zuo1:hover{
	background: #908d8d;
}
.banner .you1{
	width: 35px;
	height: 60px;
	position: absolute;
	background: #525050;
	top: 200px;
	right: 0px;
	background: rgba(255, 255, 255,0);
	text-align: center;
	line-height: 60px;
}
.banner .you1:hover{
	background: #908d8d;
}
.banner .zuo1 .icon-zuo{ 
	font-size: 30px;
	color: #84868a;
	
}
.banner .zuo1:hover .icon-zuo{
	color: #ffffff;
}
.banner .you1 .icon-you{
	font-size: 30px;
	color: #84868a;
}
.banner .you1:hover .icon-you{
	color: #ffffff;
}
.btn-list{
	width: 100px;
	height: 10px;
	position: absolute;
	top: 425px;
	left: 1101px;
}
.btn-list li a{
    width: 10px;
	height: 10px;
	background: #5c5c5f;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.btn-list li a:hover{
	background: #4a4b4d;
}
.btn-list .last{
	margin-right: 0px;
}
.btn-list1{
	width: 100px;
	height: 10px;
	position: absolute;
	top: 427px;
	left: 1103px;
}
.btn-list1 li a{
    width: 6px;
	height: 6px;
	background: #17171c;
	border-radius: 50%;
	float: left;
	margin-right: 14px;
}
.btn-list1 li:first-child a{
	background: #7c7c81;
}
.btn-list1 .last{
	margin-right: 0px;
}
/* 选项 */
.choose{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;

} 
.xuan{
	width: 234px;
	height: 170px;
	float: left;
	background: #5f5750;
	margin-right: 14px;
	position: relative;
}
.xian1{
	width: 1px;
	height: 70px;
	background: #665e57;
	position: absolute;
	top: 9px;
	left: 79px;
}
.xian2{
	width: 1px;
	height: 70px;
	background: #665e57;
	position: absolute;
	top: 9px;
	left: 155px;
}
.xian3{
	width: 1px;
	height: 70px;
	background: #665e57;
	position: absolute;
	top: 91px;
	left: 79px;
}
.xian4{
	width: 1px;
	height: 70px;
	background: #665e57;
	position: absolute;
	top: 91px;
	left: 155px;
}
.xian5{
	width: 70px;
	height: 1px;
	background: #665e57;
	position: absolute;
	top: 84px;
	left: 9px;
}.xian6{
	width: 70px;
	height: 1px;
	background: #665e57;
	position: absolute;
	top: 84px;
	left: 85px;
}
.xian7{
	width: 70px;
	height: 1px;
	background: #665e57;
	position: absolute;
	top: 84px;
	left: 161px;
}
.xuan a{
	font-size: 12px;
	color: #cdcac8;
}
.xuan a:hover{
	color: #ffffff;
}
.xuan li:hover .icon-xuangoushouji{
	color: #ffffff;
}
.xuan li:hover .icon-letter-f-outline{
	color: #ffffff;
}
.xuan li:hover .icon-liwu{
	color: #ffffff;
}
.xuan li:hover .icon-sim{
	color: #ffffff;
}
.xuan li:hover .icon-yijiuhuanxin{
	color: #ffffff;
}
.xuan li:hover .icon-huafeichongzhi{
	color: #ffffff;
}
.yipai{
	position: absolute;
	top: 24px;
	left: 17px;
}
.icon-xuangoushouji,.icon-liwu,.icon-letter-f-outline,.icon-sim,.icon-yijiuhuanxin,.icon-huafeichongzhi{
   color: #cdcac8;
   margin-left: 18px;
}

.yipai li{
	float: left;
}
.yipai a{
	padding-right: 28px;
}
.yipai .zuihou{
	padding-right: 0px;
}
.erpai{
	position: absolute;
	top: 102px;
	left: 17px;
}
.erpai li{
	float: left;
}
.erpai a{
	padding-right: 28px;
}
.erpai .zuihou{
	padding-right: 0px;
}
.tu1{
	width: 316px;
	height: 170px;
	float: left;
	margin-right: 15px;
}
.tu1:hover{
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.tu2{
	width: 316px;
	height: 170px;
	float: left;
}
.tu2:hover{
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.tu3{
	width: 317px;
	height: 170px;
	float: right;
}
.tu3:hover{
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
/* 明星单品 */
.star{
	width: 1226px;
	height: 424px;
	margin: 0 auto;

}
.star .wenzi{
	width: 100%;
	height: 84px;
	font-size: 20px;
	color: #333333;
}
.star .wenzi span{
	display: block;
	float: left;
	margin-top: 44px;
}
.jian2tou{
    width: 69px;
    height: 22px;
    float: right;
    border: 1px solid #e0e0e0;
    margin-top:50px; 
    margin-right: 1px;
}
.jian2tou li{
    width: 34px;
    height: 22px;
	float: left;
}
.jian2tou .zuihou{
	border-left: 1px solid #e0e0e0;

}
.jian2tou a{
    font-size: 20px;
    color: e0e0e0;
	display: block;
    text-align: center;
    line-height: 22px; 
}
.jian2tou .zuihou a{
	color: #b4c1d4;
}
.jian2tou .zuihou a:hover{
	color: #ff6700;
}
/* 图片 */
.picture{
	width: 1226px;
	height: 338px;
	margin: 0 auto;
}
.picture li{
	width: 234px;
	height: 338px;
	background: #fafafa;
	float: left;
	margin-right: 14px;
	text-align: center;
	
}
.picture .l1{
	border-top: 1px solid #ffac13;
}
.picture .l2{
	border-top: 1px solid #83c44e;
}
.picture .l3{
	border-top: 1px solid #2196f3;
}
.picture .l4{
	border-top: 1px solid #e53935;
}
.picture .last{
	margin-right: 0;
	border-top: 1px solid #00c0a5;
}
.picture .tutu{
	width: 160px;
	height: 160px;
	display: block;
	margin-top: 36px;
	margin-left: 37px;
}
.picture h3 a{
	font-size: 12px;
	color: #333333;
	display: block;
	margin-top: 36px;
	margin-bottom: 11px;
}
.picture .p1{
	font-size: 12px;
	color: #b0b0b0;
	margin-bottom:20px;
}
.picture .p2{
	font-size: 12px;
	color: #ff6709;
	margin-bottom: 42px;
}
/* 智能硬件 */
.yingjian{
	width: 100%;
	height: 733px;
	margin-top: 41px;
	background: #f5f5f5;
}
.yingjian main{
	width: 1226px;
	height: 733px;
	margin: 0 auto;
}
.yingjian .top{
	width: 100%;
	height: 119px;
}
.yingjian .top span{
	font-size: 22px;
	color: #333333;
	float: left;
	margin-top: 78px;
}
.yingjian .top .chakan{
    width: 92px;
    height: 20px;
    float: right;
    margin-top: 80px;
}
.yingjian .top .cha{
	font-size: 16px;
    color: #424242;
    line-height: 20px;
}
.yingjian .top .chakan:hover .cha{
	color: #ff6700;
}
.yingjian .top .chakan:hover .yuan{
	background: #ff6700;
	color: #ffffff;
}
.yingjian .top .yuan{
	width: 20px;
	height: 20px;
	background: #b0b0b0;
	float: right;
	border-radius: 50%;
	font-size: 10px;
    color: #f8efd5;
    line-height: 20px;
    text-align: center;
}
.yingjian .bottom{
	width: 1226px;
	height: 614px;
	margin: 0 auto;
}
.yingjian .bottom .left{
	width: 234px;
	height: 614px;
	background: yellow;
	float: left;
}
.yingjian .bottom .left:hover{
	transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.yingjian .bottom .right{
	width: 978px;
	height: 614px;
	float: right;
}
.bottom .right .shang{
    width: 978px;
    height: 300px;
    margin-bottom: 14px;
}
.shang .tutu,.xia .tutu{
	width: 150px;
	height: 150px;
	display: block;
	margin-top: 26px;
	margin-left: 42px;
}
.shang h3 a,.xia h3 a{
	font-size: 12px;
	color: #333333;
	margin-bottom:  10px;
}
.shang .p1,.xia .p1{
	font-size: 12px;
	color: #b0b0b0;
	margin-bottom: 18px;
}
.shang .p2,.xia .p2{
	font-size: 12px;
	color: #ff6709;
	margin-bottom: 35px;
}
.bottom .right li{
	width: 234px;
	height: 300px;
	background: #fefefe;
	float: left;
	margin-right: 14px;
	text-align: center;
	transition: all 0.3s ease;
}
.bottom .right li:hover{
	transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.bottom .right .last{
	margin-right: 0;
}
.bottom .right .xia{
    width: 978px;
    height: 300px;
}
/* 搭配 */
.dapei{
	width: 100%;
	height: 694px;
	background: #f5f5f5;
}
.dapei .big{
	width: 1226px;
	height: 694px;
	margin: 0 auto;
}
.dapei .biaoti{
	width: 1226px;
	height: 80px;
}
.dapei .biaoti span{
	font-size: 20px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.dapei .biaoti ul{
	float: right;
	margin-top: 43px;
}
.dapei .biaoti li{
	float: left;
}
.dapei .biaoti li a{
	
	height: 20px;
	font-size: 16px;
	color: #424242;
	margin-right: 30px;
}
.dapei .biaoti li a:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.dapei .biaoti .last{
    margin-right: 0;
}
.dapei .list1,.dapei .list2{
	width: 1226px;
	height: 300px;
}
.dapei .list1{
	margin-bottom: 14px;
}
.dapei .list1 .top,.dapei .list2 .top{
	width: 64px;
	height: 20px;
	background: red;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #ffffff;
	margin: 0 auto;
}
.dapei .list1 .tu,.dapei .list2 .tu{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 25px;
    margin-left: 42px;
}
.dapei .list1 h3 a,.dapei .list2 h3 a{
	font-size: 12px;
	color: #333333;
	margin-top: 32px;
}
.dapei .list1 .p1,.dapei .list2 .p1{
	font-size: 12px;
	color: #ff6700;
	margin-top: 10px;
}
.dapei .list1 .p2,.dapei .list2 .p2{
	font-size: 12px;
	color: #b0b0b0;
	margin-top:  18px;
}
.dapei .list1 .p3,.dapei .list2 .p3{
    font-size: 12px;
	color: #b0b0b0;
}
.dapei .list1 li,.dapei .list2 li{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	background: #ffffff;
	text-align: center;
}
.dapei .list3{
    position: relative;
    overflow: hidden;
}
.dapei .list3:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.dapei .list3:hover .yincang{
    bottom: 0px;
}
.dapei .list3 .yincang{
	width: 234px;
	height: 74px;
	position: absolute;
	left: 0;
	bottom: -74px;
	background: #ff6700;
	transition: all 0.3s ease;
}
.dapei .list3 .yincang .wen{
	width: 160px;
	height: 60px;
	display: block;
    margin: 5px auto;
}
.dapei .list3 .span1{
     font-size: 12px;
     color: #ffffff;
     margin-bottom: 14px;
}
.dapei .list3 .span2{
     font-size: 8px;
     color: #b0b0b0;
     text-align: 0;
}
.dapei .list1 .last,.dapei .list2 .last{
    margin-right: 0;
}
.dapei .list2 .last{
     background:  #f5f5f5;

}
.dapei .list2 .small1{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: #ffffff;
}
.dapei .list2 .small1 .a1{
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 44px;
	margin-left: 30px;
}
.dapei .list2 .small1 span{
	font-size: 12px;
	color: #ff6700;
	float: left;
	margin-top: 71px;
	margin-left: -70px;
}
.dapei .list2 .small1 .quantie{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 34px;
	margin-right: 20px;
}
.dapei .list2 .small2{
	width: 234px;
	height: 143px;
	background: #ffffff;
}
.dapei .list2 .small2 .a2{
	font-size: 18px;
	color: #333333;
	float: left;
	margin-top: 55px;
	margin-left: 30px;
}
.dapei .list2 .small2 .a2::after{
	content: "热门";
	display: block;
	font-size: 12px;
	color: #a075a0;
}
.dapei .list4{
	transition: all 0.3s ease;
}
.dapei .list4:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
/* 配件 */
.peijian{
	width: 100%;
	height: 694px;
	background: #f5f5f5;
}
.peijian .big{
	width: 1226px;
	height: 694px;
	margin: 0 auto;
}
.peijian .biaoti{
	width: 1226px;
	height: 80px;
}
.peijian .biaoti span{
	font-size: 20px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.peijian .biaoti ul{
	float: right;
	margin-top: 43px;
}
.peijian .biaoti li{
	float: left;
}
.peijian .biaoti li a{
	
	height: 20px;
	font-size: 16px;
	color: #424242;
	margin-right: 30px;
}
.peijian .biaoti li a:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.peijian .biaoti .last{
    margin-right: 0;
}
.peijian .list1,.peijian .list2{
	width: 1226px;
	height: 300px;
}
.peijian .list1{
	margin-bottom: 14px;
}
.peijian .list1 .top,.peijian .list2 .top{
	width: 64px;
	height: 20px;
	background: red;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #ffffff;
	margin: 0 auto;
}
.peijian .list1 .tu,.peijian .list2 .tu{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 25px;
    margin-left: 42px;
}
.peijian .list1 h3 a,.peijian .list2 h3 a{
	font-size: 12px;
	color: #333333;
	margin-top: 32px;
}
.peijian .list1 .p1,.peijian .list2 .p1{
	font-size: 12px;
	color: #ff6700;
	margin-top: 10px;
}
.peijian .list1 .p2,.peijian .list2 .p2{
	font-size: 12px;
	color: #b0b0b0;
	margin-top:  18px;
}
.peijian .list1 .p3,.peijian .list2 .p3{
    font-size: 12px;
	color: #b0b0b0;
}
.peijian .list1 li,.peijian .list2 li{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	background: #ffffff;
	text-align: center;
}
.peijian .list3{
    position: relative;
    overflow: hidden;
}
.peijian .list3:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.peijian .list3:hover .yincang{
    bottom: 0px;
}
.peijian .list3 .yincang{
	width: 234px;
	height: 74px;
	position: absolute;
	left: 0;
	bottom: -74px;
	background: #ff6700;
	transition: all 0.3s ease;
}
.peijian .list3 .yincang .wen{
	width: 160px;
	height: 60px;
	display: block;
    margin: 5px auto;
}
.peijian .list3 .span1{
     font-size: 12px;
     color: #ffffff;
     margin-bottom: 14px;
}
.peijian .list3 .span2{
     font-size: 8px;
     color: #b0b0b0;
     text-align: 0;
}
.peijian .list1 .last,.peijian .list2 .last{
    margin-right: 0;
}
.peijian .list2 .last{
     background:  #f5f5f5;

}
.peijian .list2 .small1{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: #ffffff;
}
.peijian .list2 .small1 .a1{
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 44px;
	margin-left: 30px;
}
.peijian .list2 .small1 span{
	font-size: 12px;
	color: #ff6700;
	float: left;
	margin-top: 71px;
	margin-left: -70px;
}
.peijian .list2 .small1 .quantie{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 34px;
	margin-right: 20px;
}
.peijian .list2 .small2{
	width: 234px;
	height: 143px;
	background: #ffffff;
}
.peijian .list2 .small2 .a2{
	font-size: 18px;
	color: #333333;
	float: left;
	margin-top: 55px;
	margin-left: 30px;
}
.peijian .list2 .small2 .a2::after{
	content: "热门";
	display: block;
	font-size: 12px;
	color: #a075a0;
}
.peijian .list4{
	transition: all 0.3s ease;
}
.peijian .list4:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
/* 周边 */
.zhoubian{
	width: 100%;
	height: 694px;
	background: #f5f5f5;
}
.zhoubian .big{
	width: 1226px;
	height: 694px;
	margin: 0 auto;
}
.zhoubian .biaoti{
	width: 1226px;
	height: 80px;
}
.zhoubian .biaoti span{
	font-size: 20px;
	color: #333333;
	float: left;
	margin-top: 40px;
}
.zhoubian .biaoti ul{
	float: right;
	margin-top: 43px;
}
.zhoubian .biaoti li{
	float: left;
}
.zhoubian .biaoti li a{
	
	height: 20px;
	font-size: 16px;
	color: #424242;
	margin-right: 30px;
}
.zhoubian .biaoti li a:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.zhoubian .biaoti .last{
    margin-right: 0;
}
.zhoubian .list1,.zhoubian .list2{
	width: 1226px;
	height: 300px;
}
.zhoubian .list1{
	margin-bottom: 14px;
}
.zhoubian .list1 .top,.zhoubian .list2 .top{
	width: 64px;
	height: 20px;
	background: red;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #ffffff;
	margin: 0 auto;
}
.zhoubian .list1 .tu,.zhoubian .list2 .tu{
    width: 150px;
    height: 150px;
    display: block;
    margin-top: 25px;
    margin-left: 42px;
}
.zhoubian .list1 h3 a,.zhoubian .list2 h3 a{
	font-size: 12px;
	color: #333333;
	margin-top: 32px;
}
.zhoubian .list1 .p1,.zhoubian .list2 .p1{
	font-size: 12px;
	color: #ff6700;
	margin-top: 10px;
}
.zhoubian .list1 .p2,.zhoubian .list2 .p2{
	font-size: 12px;
	color: #b0b0b0;
	margin-top:  18px;
}
.zhoubian .list1 .p3,.zhoubian .list2 .p3{
    font-size: 12px;
	color: #b0b0b0;
}
.zhoubian .list1 li,.zhoubian .list2 li{
	width: 234px;
	height: 300px;
	float: left;
	margin-right: 14px;
	background: #ffffff;
	text-align: center;
}
.zhoubian .list3{
    position: relative;
    overflow: hidden;
}
.zhoubian .list3:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.zhoubian .list3:hover .yincang{
    bottom: 0px;
}
.zhoubian .list3 .yincang{
	width: 234px;
	height: 74px;
	position: absolute;
	left: 0;
	bottom: -74px;
	background: #ff6700;
	transition: all 0.3s ease;
}
.zhoubian .list3 .yincang .wen{
	width: 160px;
	height: 60px;
	display: block;
    margin: 5px auto;
}
.zhoubian .list3 .span1{
     font-size: 12px;
     color: #ffffff;
     margin-bottom: 14px;
}
.zhoubian .list3 .span2{
     font-size: 8px;
     color: #b0b0b0;
     text-align: 0;
}
.zhoubian .list1 .last,.zhoubian .list2 .last{
    margin-right: 0;
}
.zhoubian .list2 .last{
     background:  #f5f5f5;

}
.zhoubian .list2 .small1{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: #ffffff;
}
.zhoubian .list2 .small1 .a1{
	font-size: 12px;
	color: #333333;
	float: left;
	margin-top: 44px;
	margin-left: 30px;
}
.zhoubian .list2 .small1 span{
	font-size: 12px;
	color: #ff6700;
	float: left;
	margin-top: 71px;
	margin-left: -70px;
}
.zhoubian .list2 .small1 .quantie{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 34px;
	margin-right: 20px;
}
.zhoubian .list2 .small2{
	width: 234px;
	height: 143px;
	background: #ffffff;
}
.zhoubian .list2 .small2 .a2{
	font-size: 18px;
	color: #333333;
	float: left;
	margin-top: 55px;
	margin-left: 30px;
}
.zhoubian .list2 .small2 .a2::after{
	content: "热门";
	display: block;
	font-size: 12px;
	color: #a075a0;
}
.zhoubian .list4{
	transition: all 0.3s ease;
}
.zhoubian .list4:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
/* 为你推荐*/
.weinituijian{
	width: 100%;
	height: 380px;
	background:#f5f5f5; 
}
.tuijian{
	width: 1226px;
	height: 380px;
	margin: 0 auto;
}
.weinituijian .wenzi{
	width: 100%;
	height: 80px;
	font-size: 22px;
	color: #333333;
}
.weinituijian .wenzi span{
	display: block;
	float: left;
	margin-top: 39px;
}
.jian3tou{
    width: 69px;
    height: 22px;
    float: right;
    border: 1px solid #e0e0e0;
    margin-top:37px; 
    margin-right: 1px;
}
.jian3tou li{
    width: 34px;
    height: 22px;
	float: left;
}
.jian3tou .zuihou{
	border-left: 1px solid #e0e0e0;

}
.jian3tou a{
    font-size: 12px;
    color: e0e0e0;
	display: block;
    text-align: center;
    line-height: 22px; 
}
.jian3tou .zuihou a{
	color: #b4c1d4;
}
.jian3tou .zuihou a:hover{
	color: #ff6700;
}
/* 图片 */
.picture1{
	width: 1226px;
	height: 300px;
	margin: 0 auto;
}
.picture1 li{
	width: 234px;
	height: 300px;
	background: #fafafa;
	float: left;
	margin-right: 14px;
	text-align: center;
	
}
.picture1 .last{
	margin-right: 0;
}
.picture1 .tutu{
	width: 140px;
	height: 140px;
	display: block;
	margin-top: 32px;
	margin-left: 37px;
}
.picture1 h3 a{
	font-size: 12px;
	color: #333333;
	display: block;
	margin-bottom: 16px;
}
.picture1 .p1{
	font-size: 12px;
	color: #ff6709;
	margin-bottom:19px;
}
.picture1 .p2{
	font-size: 12px;
	color: #b0b0b0;
	margin-bottom: 25px;
}
.picture1 .ll{
	transition: all 0.3s ease;
}
.picture1 .ll:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
/* 热评产品开始 */
.reping{
	width: 100%;
	height: 495px;
	background:#f5f5f5; 
}
.repingchanpin{
	width: 1226px;
	height: 495px;
	margin: 0 auto;
}
.reping .top{
	width: 1226px;
	height: 80px;
}
.reping .top span{
	font-size: 22px;
	color: #333333;
	float: left;
	margin-top: 40px;
}	
.reping .bottom{
	width: 1226px;
	height: 415px;
}
.reping .bottom li{
	width: 296px;
	height: 415px;
	background: #ffffff;
	float: left;
	margin-right: 14px;
	transition: all 0.3s ease;
}
.reping .bottom li:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.reping .bottom .last{
	margin-right:0;
}
.reping .bottom .tu{
	width: 296px;
	height: 220px;
	display: block;
}
.reping .bottom .p1{
	width: 239px;
	height: 60px;
	margin-top:34px; 
	margin-left: 28px;
}
.reping .bottom .wen{
	font-size:12px; 
	color:#333333; 
}
.reping .bottom .p2{
	font-size:12px; 
	color:#b0b0b0;
	margin-top:31px; 
	margin-left: 28px;
}
.reping .bottom .p3{
    font-size:12px; 
	color:#333333;
	float: left;
	margin-top:16px; 
	margin-left: 28px;
}
.reping .bottom .p4{
    font-size:12px; 
	color:#e0e0e0;
	float: left;
	margin-top:16px;
	margin-left: 9px;
}
.reping .bottom span{
    font-size:14px; 
	color:#ff6700;
	float: left;
	margin-top:16px;
	margin-left: 11px;
}
/* 内容开始  */
.neirong{
	width: 100%;
	height: 500px;
	background:#f5f5f5; 
}
.neirong .main{
	width: 1226px;
	height: 500px;
	margin: 0 auto;
}	
.neirong .top{
	width: 1226px;
	height: 80px;
}
.neirong .top span{
	font-size: 20px;
	color:#333333;
	float: left;
	margin-top:40px; 
}
.neirong .bottom{
	width: 1226px;
	height: 419px;
}
.neirong .bottom li{
	width: 296px;
	height: 419px;
	float: left;
	background: #ffffff;
	margin-right: 14px;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease;
}
.neirong .bottom .l4:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.neirong .bottom .yincang .a1{
	width: 20px;
	height: 49px;
	background: #b7b0b0;
	position: absolute;
	top: 185px;
	left: -20px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 49px;

}
.neirong .bottom li:hover .yincang .a1{
	left: 0;
}
.neirong .bottom .yincang .a2{
	width: 20px;
	height: 49px;
	background: #b7b0b0;
	position: absolute;
	top: 185px;
	right:-20px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 49px;

}
.neirong .bottom li:hover .yincang .a2{
	right: 0;
}

.neirong .bottom .l1{
    border-top: 1px solid #ffac13;
}
.neirong .bottom .l2{
    border-top: 1px solid #83c44e;
}
.neirong .bottom .l3{
    border-top: 1px solid #e53935;
}
.neirong .bottom .last{
	margin-right:0;
	border-top: 1px solid #2196f3;
}
.neirong .bottom h2{
    font-size: 14px;
    color: #ffac13;
    margin-top: 50px;
}
.neirong .bottom .l2 h2{
    font-size: 14px;
    color: #83c44e;
    margin-top: 50px;
}
.neirong .bottom .l3 h2{
    font-size: 14px;
    color: #e53935;
    margin-top: 50px;
}
.neirong .bottom .last h2{
    font-size: 14px;
    color: #2196f3;
    margin-top: 50px;
}
.neirong .bottom h4 a{
    font-size: 20px;
    color: #333333;
    display: block;
    margin-top: 25px;
}
.neirong .bottom .p1 a{
    font-size: 12px;
    color: #b0b0b0;
    display: block;
    margin-left: 52px;
    margin-right:52px;
    margin-top: 10px;
}
.neirong .bottom .p2 a{
    font-size: 12px;
    color: #333333;
    display: block;
    margin-top: 19px;
}
.neirong .bottom .tu{
	width: 216px;
	height: 154px;
	display: block;
	margin-top: 27px;
	margin: 27px auto;
}
.neirong .bottom .xia{
	width: 76px;
	height: 10px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 25px;
}
.neirong .bottom .xia .da{
	width: 10px;
	height: 10px;
	position: absolute;
    top: 0;
    left: 0;
	background: #ff6700;
	border-radius: 50%;
}
.neirong .bottom .xia .dian{
	width: 74px;
	height: 6px;
	position: absolute;
	top: 2px;
	left: 2px;
}
.neirong .bottom .xia .dian li{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-right: 28px;
}
.neirong .bottom .xia .dian  .last{
	margin-right:0;
}
.neirong .bottom .xia .dian  .second a{
    width: 6px;
	height: 6px;
	float: left;
	background: #b0b0b0;
	border-radius: 50%;
}
.neirong .bottom .xia .dian  .first a{
	width: 6px;
	height: 6px;
	float: left;
	background: #ffffff;
	border-radius: 50%;
}
.neirong .bottom .xia .dian .last a{
    width: 6px;
	height: 6px;
	float: left;
	background: #b0b0b0;
	border-radius: 50%;
}
.neirong .bottom .xia1{
	width: 110px;
	height: 10px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 25px;
}
.neirong .bottom .xia1 .da{
	width: 10px;
	height: 10px;
	position: absolute;
    top: 0;
    left: 0;
	background: #ff6700;
	border-radius: 50%;
}
.neirong .bottom .xia1 .dian{
	width: 108px;
	height: 6px;
	position: absolute;
	top: 2px;
	left: 2px;
}
.neirong .bottom .xia1 .dian li{
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-right: 28px;
}
.neirong .bottom .xia1 .dian .last{
	margin-right:0;
}
.neirong .bottom .xia1 .dian .second a{
    width: 6px;
	height: 6px;
	float: left;
	background: #b0b0b0;
	border-radius: 50%;
}
.neirong .bottom .xia1 .dian .first a{
	width: 6px;
	height: 6px;
	float: left;
	background: #ffffff;
	border-radius: 50%;
}
.neirong .bottom .xia1 .dian .last a{
    width: 6px;
	height: 6px;
	float: left;
	background: #b0b0b0;
	border-radius: 50%;
}
.neirong .bottom .xia .dian .second a:hover{
	background: #ff6700;
}
.neirong .bottom .xia .dian .last a:hover{
	background: #ff6700;
}
.neirong .bottom .xia1 .dian .second a:hover{
	background: #ff6700;
}
.neirong .bottom .xia1 .dian .last a:hover{
	background: #ff6700;
}
/* 视频开始 */
.shi{
	width: 100%;
	height: 425px;
	background:#f5f5f5; 
}
.shipin{
	width: 1226px;
	height: 425px;
	margin: 0 auto;
}
.shipin .top{
	width: 100%;
	height: 80px;
}
.shipin .top span{
	font-size: 22px;
	color: #333333;
	float: left;
	margin-top:  40px;
}
.shipin .top .chakan{
    width: 92px;
    height: 20px;
    float: right;
    margin-top: 41px;
}
.shipin .top .cha{
	font-size: 16px;
    color: #424242;
    line-height: 20px;
}
.shipin .top .chakan:hover .cha{
	color: #ff6700;
}
.shipin .top .chakan:hover .yuan{
	background: #ff6700;
	color: #ffffff;
}
.shipin .top .yuan{
	width: 20px;
	height: 20px;
	background: #b0b0b0;
	float: right;
	border-radius: 50%;
	font-size: 10px;
    color: #f8efd5;
    line-height: 20px;
    text-align: center;
}
.shipin .bottom{
	width: 1226px;
	height: 285px;
}
.shipin .bottom li{
	width: 296px;
	height: 285px;
	float: left;
	background: #ffffff;
	margin-right: 14px;
	text-align: center;
	transition: all 0.3s ease;
}
.shipin .bottom li:hover{
    transform: translateY(-2px);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}
.shipin .bottom .last{
	margin-right: 0;
}
.shipin .bottom .tu{
	width: 296px;
	height: 180px;
	display: block;
}
.shipin .bottom .a1{
    font-size: 12px;
    color: #333333;
    display: block;
    margin-top: 32px;
}
.shipin .bottom .a1:hover{
	color: #ff6700;
}
.shipin .bottom .p1{
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 14px;
}
/* 下一 */
.xiayi{
	width: 100%;
	height: 272px;
	background: #ffffff;
}
.xiayi .top{
	width: 1226px;
	height: 79px;
	margin: 0 auto;
	border-bottom: 1px solid #e0e0e0;
}
.xiayi .top .list1{
	width: 1219px;
	height: 25px;
	margin-left: 3px;
	margin-top: 28px;
}
.xiayi .top .list1 li{
	width: 243px;
	height: 25px;
    border-right: 1px solid #e0e0e0; 
	float: left;
	line-height: 25px;
}
.xiayi .top .list1 .last{
	border-right: 0; 
}
.xiayi .top .list1 .a1{
	font-size: 16px;
    color: #616161;
    float: right;
    margin-right: 49px;
    margin-top: -1px;
}
.xiayi .top .list1 .last .a1{
	font-size: 16px;
    color: #616161;
    float: right;
    margin-right: 30px;
    margin-top: -1px;
}
.xiayi .top .list1 li:hover .a1{
	color: #ff6709;
}
.xiayi .top .list1 .icon-weixiu1{
   color: #616161;
}
.xiayi .top .list1 li:hover .icon-weixiu1{
	color: #ff6709;
}
.xiayi .top .list1 .icon-15{
   color: #616161;
}
.xiayi .top .list1 li:hover .icon-15{
	color: #ff6709;
}
.xiayi .top .list1 .icon-gift{
   color: #616161;
}
.xiayi .top .list1 li:hover .icon-gift{
	color: #ff6709;
}.xiayi .top .list1 .icon-dingwei{
   color: #616161;
}
.xiayi .top .list1 li:hover .icon-dingwei{
	color: #ff6709;
}.xiayi .top .list1 .icon-icon-test{
   color: #616161;
}
.xiayi .top .list1 li:hover .icon-icon-test{
	color: #ff6709;
}
.xiayi .bottom{
	width: 1226px;
	height: 192px;
	margin: 0 auto;
}
.xiayi .bottom .dl1{
   width: 160px;
   height: 112px;
   float: left;
   margin-top: 41px;
}
.xiayi .bottom .dl1 dt{
	margin-bottom: 20px;
}
.xiayi .bottom .dl1 dt a{
   font-size: 12px;
   color: #424242;
   display: block;
}
.xiayi .bottom .dl1 dd{
	margin-top: 17px;
}
.xiayi .bottom .dl1 dd a{
   font-size: 12px;
   color: #757575;
}
.xiayi .bottom .dl1 dd a:hover{
	color: #ff6709;
}
.xiayi .bottom .lianxi{
	width: 252px;
	height: 112px;
	float: right;
	text-align: center;
	margin-top: 42px;
	border-left: 1px solid #e0e0e0;
}
.xiayi .bottom .lianxi .phone{
	font-size: 18px;
	color: #ff6709;
}
.xiayi .bottom .lianxi .p1{
	font-size: 12px;
	color: #616161;
}
.xiayi .bottom .lianxi .kefu{
	width: 120px;
	height: 30px;
	display: block;
	margin: 0 auto;
	border: 1px solid #ff6709;
	margin-top: 19px;
}
.xiayi .bottom .lianxi .kefu .s1{
	font-size:12px;
	color: #ff6700;
	float: right; 
	margin-top: 7px;
	margin-right: 10px;
}
.xiayi .bottom .lianxi .kefu:hover{
	background: #ff6700;
}
.xiayi .bottom .lianxi .kefu .icon-duihuakuang{
	color: #ff6700;
}
.xiayi .bottom .lianxi .kefu:hover .icon-duihuakuang{
	color: #ffffff;
}
.xiayi .bottom .lianxi .kefu:hover .s1{
	color: #ffffff;
}
/* 下二 */
.xiaer{
	width: 100%;
	height: 166px;
	background: #fafafa;
	margin-bottom: 21px;
}
.xiaer .main{
	width: 1226px;
	height: 166px;
	margin: 0 auto;
}
.xiaer .left{
	width: 57px;
	height: 57px;
	float: left;
	margin-top: 30px;
}
.xiaer .center{
	width: 749px;
	height: 47px;
	float: left;
	margin-top: 33px;
	margin-left: 10px;
}
.xiaer .center li{
	float: left;
	border-right: 1px solid #b0b0b0;
}
.xiaer .center li a{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
	color: #757575;
}
.xiaer .center li a:hover{
	color: #ff6709;
}
.xiaer .center .first a{
	margin-left: 0;
}
.xiaer .center .last{
	border-right:0;
}
.xiaer .center .last a{
	margin-right: 0;
}
.xiaer .center p{
	font-size: 12px;
	color: #b6b0c0;
}
.xiaer .center p a{
	font-size: 12px;
	color: #b6b0c0;
}
.xiaer .center p a:hover{
	color: #ff6709;
}
.xiaer .right{
	width: 375px;
	height: 28px;
	float: right;
	margin-top: 34px;
}
.xiaer .right a{
	width: 85px;
	height: 28px;
	float: left;
	margin-left: 3px;
}
.xiaer .bottom{
	width: 1226px;
	height: 30px;
	float: left;
	margin: 40px auto;
}
.xiaer .bottom span{
	font-size: 18px;
	display: block;
    text-align: center;
}